@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import "./styles/nav";
@import "./styles/variables";
@import "./styles/main";
@import "./styles/about";
@import "./styles/portfolio";
@import "./styles/footer";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $prm-font;
}


.ani-intro{
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ani-intro-text{
  color: white;
  font-size: 3rem;
}

.slider{
  background: lightslategray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.hide{
  background: black;
  overflow: hidden;

  >span{
    transform: translateY(100%);
    display: inline-block;
  }
}

html {
  scroll-behavior: smooth;
}