@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  width: 100%;
  border-bottom: 3px solid lightslategrey;
  background-color: var(--tertiary-color);
  color: var(--quant-color);
  position: fixed;
  z-index: 1;
}
nav ul {
  display: flex;
  list-style: none;
  width: 60vw;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
}
nav ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;
}
nav ul a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--quant-color);
  padding: 3vh;
  width: 100%;
  height: 8vh;
}
nav ul a:hover {
  background-color: lightslategrey;
  color: white;
  transition: 0.6s ease;
}
nav .nav__menu {
  display: none;
  cursor: pointer;
}
nav .nav__menu div {
  width: 25px;
  height: 2px;
  background-color: grey;
  margin: 5px;
}
nav a {
  text-decoration: none;
}
nav a label {
  color: grey;
  font-size: 20px;
  height: 100%;
  width: 300%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--quant-color);
}
nav a label:hover {
  color: white;
  transition: 0.6s ease;
}

@media screen and (max-width: 768px) {
  nav ul {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: var(--tertiary-color);
    width: 35vh;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: 0.6s ease;
  }
  nav ul a {
    height: 100%;
  }
  nav .nav__menu {
    display: block;
  }
}
.navClick {
  transform: translate(0);
}

.adjuster {
  height: 8vh;
  width: 100%;
}

main {
  height: 92vh;
  width: 100vw;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .intro {
  width: 60vw;
  height: 40vh;
  padding: 5%;
}
main .intro #p1 {
  font-size: 40px;
  margin-bottom: 5%;
}
main .intro #p1:hover {
  color: lightslategrey;
  transition: 1s ease;
}
main .intro #p2 {
  font-size: 60px;
  margin-bottom: 5%;
  font-weight: bolder;
}
main .intro #p2:hover {
  color: lightslategrey;
  transition: 1.3s ease;
}
main .intro #p3 {
  font-size: 40px;
  margin-bottom: 3%;
}
main .intro #p3:hover {
  color: lightslategrey;
  transition: 1s ease;
}
main .intro button {
  font-size: 2vw;
  width: 40%;
  height: 5vh;
  border-radius: 40px;
  border-style: none;
}
main .intro button:hover {
  color: var(--primary-color);
  background-color: lightslategray;
  transition: 0.3s ease;
  font-size: 2vw;
}

@media screen and (max-width: 768px) {
  main .intro #p1 {
    font-size: 5vw;
  }
  main .intro #p2 {
    font-size: 7vw;
  }
  main .intro #p3 {
    font-size: 6vw;
  }
  main .intro button {
    font-size: 3vw;
  }
}
.about__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.about__container .about {
  width: 80%;
  height: 50vh;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 20px;
  box-shadow: 2px 2px 12px var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  margin-top: 5%;
}
.about__container .about h4 {
  font-size: 4vw;
}
.about__container .about p {
  font-size: 2vw;
}
.about__container .about .two_buttons {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__container .about .two_buttons .skills_but {
  border-radius: 50px;
  background-color: lightslategray;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.5vw;
  padding: 0;
  width: 15vw;
  height: 5vh;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
.about__container .about .two_buttons .skills_but::after {
  content: "»";
  position: relative;
  opacity: 0;
  right: -40%;
  transition: 0.5s;
}
.about__container .about .two_buttons .skills_but:hover {
  padding-right: 24px;
  padding-left: 8px;
}
.about__container .about .two_buttons .skills_but:hover::after {
  opacity: 1;
  right: -20%;
}
.about__container .about .two_buttons .project_but {
  border-radius: 50px;
  background-color: lightslategray;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.5vw;
  padding: 0;
  width: 15vw;
  height: 5vh;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
.about__container .about .two_buttons .project_but::after {
  content: "»";
  position: relative;
  opacity: 0;
  right: -40%;
  transition: 0.5s;
}
.about__container .about .two_buttons .project_but:hover {
  padding-right: 24px;
  padding-left: 8px;
}
.about__container .about .two_buttons .project_but:hover::after {
  opacity: 1;
  right: -20%;
}

.portfolio {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: grid;
  height: 170vh;
  padding-bottom: 5vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-template-areas: "h2 h2" "portfolio__a portfolio__b" "portfolio__c portfolio__d";
  grid-gap: 1rem;
  text-align: center;
}
.portfolio h2 {
  grid-area: h2;
}
.portfolio .portfolio__a {
  grid-area: portfolio__a;
}
.portfolio .portfolio__b {
  grid-area: portfolio__b;
}
.portfolio .portfolio__c {
  grid-area: portfolio__c;
}
.portfolio .portfolio__d {
  grid-area: portfolio__d;
}
.portfolio .portfolio__box {
  background-color: var(--primary-color);
  border-radius: 20px;
  box-shadow: 2px 2px 12px var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35vw;
  height: 40vh;
  margin: auto;
  margin-top: 5px;
  align-items: center;
}
.portfolio .portfolio__box .calculator {
  width: 45%;
  height: 100%;
}
.portfolio .portfolio__box .chess {
  margin-top: 2.5%;
  width: 60%;
  height: 90%;
}
.portfolio .portfolio__box .morse {
  width: 70%;
  margin-top: 2.5%;
  height: 90%;
}
.portfolio .portfolio__box .client {
  width: 90%;
  margin-top: 2.5%;
  height: 90%;
  border-radius: 10px;
}
.portfolio .portfolio__box .punk {
  width: 90%;
  margin-top: 2.5%;
  height: 90%;
  border-radius: 10px;
}
.portfolio .portfolio__box:hover {
  width: 36vw;
  height: 41vh;
  box-shadow: 4px 4px 14px var(--secondary-color);
  transition: 0.3s ease;
}
.portfolio a {
  text-decoration: none;
}
.portfolio p {
  color: lightslategray;
}

@media screen and (max-width: 768px) {
  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .portfolio .portfolio__box {
    width: 55vw;
    height: 20vh;
  }
  .portfolio .portfolio__box:hover {
    width: 21vw;
  }
}
footer {
  width: 100vw;
  height: 12vh;
  background-color: var(--tertiary-color);
  display: flex;
  justify-content: center;
}
footer a {
  color: white;
  text-decoration: none;
  height: 50%;
  width: 15%;
  padding: 10px;
  text-align: center;
}
footer a:hover {
  font-size: large;
}

@media screen and (max-width: 768px) {
  footer a {
    font-size: 2.5vw;
    width: 25vw;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
  transition: background-color 1s, color 1s;
}

:root {
  --primary-color: white;
  --secondary-color: black;
  --tertiary-color:rgb(194,194,194);
  --quant-color: grey;
}

.dark-theme {
  --primary-color: black;
  --secondary-color: white;
  --tertiary-color: rgb(43, 43, 43);
  --quant-color: white;
}

html {
  scroll-behavior: smooth;
}

.ani-intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ani-intro-text {
  color: white;
  font-size: 3rem;
}

.slider {
  background: lightslategray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.hide {
  background: black;
  overflow: hidden;
}
.hide > span {
  transform: translateY(100%);
  display: inline-block;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.contact .contact_container {
  height: 80vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
}
.contact .contact_container h4 {
  padding: 10px;
  color: --secondary-color;
  box-shadow: 0 4px 2px -2px gray;
}
.contact .contact_container .email {
  display: block;
}
.contact .contact_container .message {
  display: block;
}
.contact .contact_container .send {
  display: block;
}

.but {
  border-radius: 50px;
  background-color: lightslategray;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.5vw;
  padding: 0;
  width: 15vw;
  height: 5vh;
  transition: all 0.5s;
  cursor: pointer;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
  cursor: pointer;
  position: relative;
  transition: 0.5s;
}
.but::after {
  content: "»";
  position: relative;
  opacity: 0;
  right: -40%;
  transition: 0.5s;
}
.but:hover {
  padding-right: 24px;
  padding-left: 8px;
}
.but:hover::after {
  opacity: 1;
  right: -20%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 25px;
}
.switch > p {
  padding-top: 5px;
  color: var(--quant-color);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 26;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #535353;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #7c7c7c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #d1d1d1;
}

input:focus + .slider {
  box-shadow: 0 0 1px lightslategray;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle > p {
  margin-right: 5px;
}