main {
  height: 92vh;
  width: 100vw;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./images/background.png");
}
main .intro {
  width: 60vw;
  height: 40vh;
  padding: 5%;
}
main .intro #p1 {
  font-size: 40px;
  margin-bottom: 5%;
}
main .intro #p1:hover {
  color: lightslategrey;
  transition: 1s ease;
}
main .intro #p2 {
  font-size: 60px;
  margin-bottom: 5%;
  font-weight: bolder;
}
main .intro #p2:hover {
  color: lightslategrey;
  transition: 1.3s ease;
}
main .intro #p3 {
  font-size: 40px;
  margin-bottom: 3%;
}
main .intro #p3:hover {
  color: lightslategrey;
  transition: 1s ease;
}
main .intro button {
  font-size: 2vw;
  width: 40%;
  height: 5vh;
  border-radius: 40px;
  border-style: none;
  background-color: lightslategray;
  color: var(--primary-color);
}
main .intro button:hover {
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  transition: 0.3s ease;
  font-size: 2vw;
}

@media screen and (max-width: 768px) {
  main .intro #p1 {
    font-size: 5vw;
  }
  main .intro #p2 {
    font-size: 7vw;
  }
  main .intro #p3 {
    font-size: 6vw;
  }
  main .intro button {
    font-size: 3vw;
  }
}