.portfolio {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: grid;
  height: 110vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-template-areas: "h2 h2" "portfolio__a portfolio__b" "portfolio__c portfolio__d";
  grid-gap: 1rem;
  text-align: center;
}
.portfolio h2 {
  grid-area: h2;
}
.portfolio .portfolio__a {
  grid-area: portfolio__a;
}
.portfolio .portfolio__b {
  grid-area: portfolio__b;
}
.portfolio .portfolio__c {
  grid-area: portfolio__c;
}
.portfolio .portfolio__d {
  grid-area: portfolio__d;
}
.portfolio .portfolio__box {
  background-color: var(--primary-color);
  border-radius: 20px;
  box-shadow: 2px 2px 12px var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35vw;
  height: 40vh;
  margin: auto;
  margin-top: 5px;
  align-items: center;
}
.portfolio .portfolio__box .calculator {
  width: 45%;
  height: 100%;
}
.portfolio .portfolio__box .chess {
  margin-top: 2.5%;
  width: 60%;
  height: 90%;
}
.portfolio .portfolio__box .morse {
  width: 70%;
  margin-top: 2.5%;
  height: 90%;
}
.portfolio .portfolio__box .client {
  width: 90%;
  margin-top: 2.5%;
  height: 90%;
}
.portfolio .portfolio__box:hover {
  width: 36vw;
  height: 41vh;
  box-shadow: 4px 4px 14px var(--secondary-color);
  transition: 0.3s ease;
}
.portfolio a {
  text-decoration: none;
}
.portfolio p {
  color: lightslategray;
}

@media screen and (max-width: 768px) {
  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .portfolio .portfolio__box {
    width: 55vw;
    height: 20vh;
  }
  .portfolio .portfolio__box:hover {
    width: 56vw;
  }
}