@import "_variables";

.portfolio {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-template-areas: "h2 h2" "portfolio__a portfolio__b" "portfolio__c portfolio__d"; 
  h2 {grid-area: h2;}
  .portfolio__a {grid-area: portfolio__a;}
  .portfolio__b {grid-area: portfolio__b;}
  .portfolio__c {grid-area: portfolio__c;}
  .portfolio__d {grid-area: portfolio__d;}
  grid-gap:1rem;
  text-align: center;

  .portfolio__box{
    background-color: white;
    border-radius: 20px;
    box-shadow:2px 2px 12px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35vw;
    height: 40vh;
    margin: auto;

    &:hover {
      width: 36vw;
      height: 41vh;
      box-shadow:4px 4px 14px black ;
      transition: 0.3s ease;
    }
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200vh;

    .portfolio__box{
      width: 55vw;
      &:hover{
        width: 56vw;
      }
    }
  }
}