@import "_variables";

.portfolio {
  //background-color: var(--primary-color);
  color: var(--secondary-color);
  display: grid;
  height: 170vh;
  padding-bottom: 5vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-template-areas: "h2 h2" "portfolio__a portfolio__b" "portfolio__c portfolio__d"; 
  h2 {grid-area: h2;}
  .portfolio__a {grid-area: portfolio__a;}
  .portfolio__b {grid-area: portfolio__b;}
  .portfolio__c {grid-area: portfolio__c;}
  .portfolio__d {grid-area: portfolio__d;}
  grid-gap:1rem;
  text-align: center;

  .project_box{
    display: flex;
    flex-direction: column;
    align-items: center;

    .gitlink{
      margin: 5px;
      height: 5vw;
      width: 5vw;
      .glink{
        font-size: 2.5vw;
        color: black;
      }
    }
    .portfolio__box{
      background-color: var(--primary-color);
      border-radius: 20px;
      box-shadow:2px 2px 12px var(--secondary-color);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 35vw;
      height: 40vh;
      margin: auto;
      margin-top: 5px;
      align-items: center;
      position: relative;
      overflow: hidden;
      transition: all 0.3s ease;
      margin-top: 2.5%;
      
      .qw{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transform: translateY(100%);
        transition: all 0.4s ease;
        visibility: hidden;
        // content: '';
        background: rgba(140, 146, 172, 0.9);
        display: flex;
        justify-content: center;
        align-items: center; 
        padding: 10px;

        .overlay-text{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

        }
      }

      &:hover .qw{
        visibility: visible;
        transform: translateX(0%);
      }


      .punk{
        margin-top: 2.5%;
        width:90%;
        height: 90%;
        border-radius: 10px;
      }
      .fullstack{
        margin-top: 2.5%;
        width:90%;
        height: 90%;
        border-radius: 10px;
      }
      .calculator {
        width: 45%;
        height: 100%;
      }
      .chess{
        margin-top: 2.5%;
        width:60%;
        height: 90%;
      }
      .morse{
        width:70%;
        margin-top: 2.5%;
        height: 90%;
      }
      .client{
        width:90%;
        margin-top: 2.5%;
        height: 90%;
        border-radius: 10px;
      }

      &:hover {
        width: 36vw;
        height: 41vh;
        box-shadow:4px 4px 14px var(--secondary-color) ;
        transition: 0.3s ease;
      }
    }
  }
  a{
    text-decoration: none;
  }
  p{
    color: lightslategray;
  }

}

@media screen and (max-width: 768px) {
  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    .portfolio__box{
      width: 55vw;
      height: 20vh;
      &:hover{
        width:  58vw;
        height: 23vh;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;

    .project_box{
      width: 90vw;
      height: 50vh;
      .portfolio__box{
        width: 80vw;
        height: 30vh;
        &:hover{
          width:  85vw;
          height: 35vh;
        }
      }
    }
   


  }
}